* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  background: #789;
}

.Content {
  padding: 50px 30px;
  max-width: 800px;
  position: relative;
  text-align: center;
  margin: 0 auto;
}

h1 {
  font-size: 22px;
  font-weight: normal;
  margin: 0 0 10px 0;
}

h2 {
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 10px;
}

.Links {
  margin-bottom: 80px;
}

.Links a {
  color: #d7d9d6;
  text-decoration: none;
  border-bottom: 1px solid rgba(#d7d9d6, 0.3);
  transition: border 250ms, color 250ms;
}

.Links a:hover {
  color: #fff;
  border-bottom-color: #fff;
}

.Links a:focus {
  outline: none;
  outline-offset: 5px;
  outline: 1px solid blue;
}
