$track-height: 5px;
$vertical-padding: 10px;
$total-height: 2 * $vertical-padding + $track-height;
$handle-height: 13px;
$handle-width: 13px;
$handle-top: ($total-height - $handle-height) / 2;

.AriaProgressBar {
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  padding: $vertical-padding 0;
  z-index: 0;
  position: relative;
  user-select:none;
  touch-action: none;
}

.AriaProgressBar:hover {
  cursor: pointer;
}

.AriaProgressBar--disabled {
  opacity: 0.5;
  cursor: auto;
}

.AriaProgressBar-track  {
  height: $track-height;
  position: relative;
  width: 100%;
  z-index: 0;
}

.AriaProgressBar-progress,
.AriaProgressBar-buffer,
.AriaProgressBar-hover {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  transform-origin: left center;
  transform: scaleX(0);
}

.AriaProgressBar-progress {
  z-index: 1;
}

.AriaProgressBar-buffer,
.AriaProgressBar-hover,
.AriaProgressBar-handle {
  pointer-events: none;
}

.AriaProgressBar-handle {
  z-index: 1;
  position: absolute;
  display: block;
  height: $handle-height;
  width: $handle-width;
  left: 0;
  margin-left: $handle-width / -2;
  top: $handle-top;
}

.AriaProgressBar-hoverTooltip,
.AriaProgressBar-mainTooltip {
  position: absolute;
  bottom: 100%;
  transform: translateX(-50%);
  left: 50%;
}

.AriaProgressBar-mainTooltip {
  z-index: 1;
}

.AriaProgressBar-hoverTooltip {
  display: none;

  .AriaProgressBar--hover & {
    display: block;
  }
}

// Default theme

.AriaProgressBar:focus {
  outline: 2px solid blue;
}

.AriaProgressBar-track {
  background: #bbc;
}

.AriaProgressBar-progress {
  background: #ff0000;
}

.AriaProgressBar-buffer {
  background: rgba(#fff, 0.4);
}

.AriaProgressBar-hover {
  background: rgba(#fff, 0.5);
}

.AriaProgressBar-handle {
  background: #000;
  border-radius: 50%;
}

.AriaProgressBar-hoverTooltip,
.AriaProgressBar-mainTooltip {
  border-radius: 2px;
  padding: 3px 6px;
  position: absolute;
  font-size: 12px;
  bottom: 100%;
  transform: translateX(-50%);
  left: 50%;
}

.AriaProgressBar-mainTooltip {
  background: rgba(#000, 0.9);
  color: #fff;
}

.AriaProgressBar-hoverTooltip {
  background: #ddd;
  color: #333;
}
